---
Language: Cpp
BasedOnStyle: Mozilla
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 120
UseTab: Never
InsertBraces: true

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
  AfterObjCDeclaration: false

AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortLoopsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1

PointerAlignment: Left
DerivePointerAlignment: false

BinPackArguments: true
BinPackParameters: true
AlignAfterOpenBracket: true

Standard: Latest
FixNamespaceComments: false
---
Language: Java
BasedOnStyle: WebKit

IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 120
UseTab: Never

BreakBeforeBraces: Allman

AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortLoopsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1

BinPackArguments: true
BinPackParameters: true
AlignAfterOpenBracket: true

SortIncludes: true
BreakAfterAttributes: Never
...
